/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE6/7/8/9 & FF3.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
/*
 * Corrects `inline-block` display not defined in IE6/7/8/9 & FF3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/*
 * Addresses styling for `hidden` attribute not present in IE7/8/9, FF3, S4.
 * Known issue: no IE6 support.
 */
[hidden] {
  display: none;
}
/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  /* 2 */

}
/*
 * Addresses `font-family` inconsistency between `textarea` and other form
 * elements.
 */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
/*
 * Addresses margins handled incorrectly in IE6/7.
 */
body {
  margin: 0;
}
/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}
/*
 * Improves readability when focused and also mouse hovered in all browsers.
 * people.opera.com/patrickl/experiments/keyboard/test
 */
a:active,
a:hover {
  outline: 0;
}
/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE6/7.
 * Addresses font sizes within `section` and `article` in FF4+, Chrome, S5.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}
/*
 * Addresses styling not present in IE7/8/9, S5, Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/*
 * Addresses style set to `bolder` in FF3+, S4/5, Chrome.
 */
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
/*
 * Addresses styling not present in S5, Chrome.
 */
dfn {
  font-style: italic;
}
/*
 * Addresses styling not present in IE6/7/8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/*
 * Addresses margins set differently in IE6/7.
 */
p,
pre {
  margin: 1em 0;
}
/*
 * Corrects font family set oddly in IE6, S4/5, Chrome.
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
/*
 * Improves readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
/*
 * Addresses CSS quotes not supported in IE6/7.
 */
q {
  quotes: none;
}
/*
 * Addresses `quotes` property not supported in S4.
 */
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 75%;
}
/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 * gist.github.com/413930
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* ==========================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7.
 */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}
dd {
  margin: 0 0 0 40px;
}
/*
 * Addresses paddings set differently in IE6/7.
 */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}
/*
 * Corrects list images handled incorrectly in IE7.
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside `a` element in IE6/7/8/9, FF3.
 * 2. Improves image quality when scaled in IE7.
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
  border: 0;
  /* 1 */

  -ms-interpolation-mode: bicubic;
  /* 2 */

}
/*
 * Corrects overflow displayed oddly in IE9.
 */
svg:not(:root) {
  overflow: hidden;
}
/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11.
 */
figure {
  margin: 0;
}
/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7.
 */
form {
  margin: 0;
}
/*
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/*
 * 1. Corrects color not being inherited in IE6/7/8/9.
 * 2. Corrects text not wrapping in FF3.
 * 3. Corrects alignment displayed oddly in IE6/7.
 */
legend {
  border: 0;
  /* 1 */

  padding: 0;
  white-space: normal;
  /* 2 */

  *margin-left: -7px;
  /* 3 */

}
/*
 * 1. Corrects font size not being inherited in all browsers.
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome.
 * 3. Improves appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */

  margin: 0;
  /* 2 */

  vertical-align: baseline;
  *vertical-align: middle;
  /* 3 */

}
/*
 * Addresses FF3/4 setting `line-height` on `input` using `!important` in the
 * UA stylesheet.
 */
button,
input {
  line-height: normal;
}
/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Removes inner spacing in IE7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */

  cursor: pointer;
  /* 3 */

  *overflow: visible;
  /* 4 */

}
/*
 * Re-set default cursor for disabled elements.
 */
button[disabled],
input[disabled] {
  cursor: default;
}
/*
 * 1. Addresses box sizing set to content-box in IE8/9.
 * 2. Removes excess padding in IE8/9.
 * 3. Removes excess padding in IE7.
 *    Known issue: excess padding remains in IE6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */

  padding: 0;
  /* 2 */

  *height: 13px;
  *width: 13px;
  /* 3 */

}
/*
 * 1. Addresses `appearance` set to `searchfield` in S5, Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in S5, Chrome (include `-moz`
 *    to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */

  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */

  box-sizing: content-box;
}
/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/*
 * Removes inner padding and border in FF3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9.
 * 2. Improves readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */

  vertical-align: top;
  /* 2 */

}
/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/*********************
CLEARFIXIN'
*********************/
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}


/*********************
TOOLS
*********************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

*:focus {
	outline: none !important;
}

section {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.wp-block {
	max-width: 100%;
}


/* ==========================================================================
   Custom CSS
   ========================================================================== */



/* General Styling */



body {
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 20px;
	color: #6A798C;
	overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	margin: 0;
}

h1 {
	font-size: 46px;
}

h2 {
	font-size: 60px;
}

h3 {
	font-size: 32px;
}

h4 {
	font-size: 24px;
}

h2.fancy {
	padding-left: 25px;
	border-left: 7px solid #F8D6D6;
	line-height: 1.2;
	max-width: 240px;
	color: #00629B;
}

.btn {
    border-radius: 5px;
    padding: 15px 30px;
	font-size: 16px;
	border: none !important;
	box-shadow: none !important;
	font-weight: 600;
}

.btn i {
	margin-right: 10px;
	font-size: 20px;
}

.btn-primary {
	background: #E75B5B !important;
    color: #ffffff !important;
    box-shadow: 0px 5px 15px rgba(250, 98, 98, 0.4) !important;
    min-width: 200px;
}

.btn-primary:hover {
	background: #CC5050 !important;
}



/* Navbar */



.navbar {
	padding: 30px 15px;
	background: #ffffff;
	position: fixed;
	font-weight: 600;
	font-size: 16px;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	
	-webkit-transition: all 0.2s ease;/* Safari 3.2+, Chrome */
	-moz-transition: all 0.2s ease;/* Firefox 4-15 */
	-o-transition: all 0.2s ease;/* Opera 10.5-12.00 */
	transition: all 0.2s ease;/* Firefox 16+, Opera 12.50+ */
}

.navbar.shadow {
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.admin-bar .navbar {
	top: 32px;
}

.navbar-brand {
	max-width: 220px;
}

.navbar ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.navbar ul li {
	display: inline-block;
}

.navbar-nav {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.navbar-nav .nav-item {
	padding: 0 20px;
	position: relative;
}

.navbar-nav .nav-item:not(:last-of-type):after {
	content: '';
	position: absolute;
	right: 0;
	bottom: 0;
	height: 100%;
	width: 1px;
	background: #000000;
	opacity: 0.1;
}

.menu-nav-right-container {
	margin-left: auto;
}

.navbar-light .menu-item a {
	color: #00629B !important;
	padding: 0;
	text-decoration: none !important;
	
	-webkit-transition: all 0.2s ease;/* Safari 3.2+, Chrome */
	-moz-transition: all 0.2s ease;/* Firefox 4-15 */
	-o-transition: all 0.2s ease;/* Opera 10.5-12.00 */
	transition: all 0.2s ease;/* Firefox 16+, Opera 12.50+ */
}

.navbar-light .menu-item a.active,
.navbar-light .menu-item a:hover {
	color: #E65B5B !important;
}

.navbar .menu-item.contact a {
	background: #E75B5B;
	color: #ffffff !important;
	box-shadow: 0px 5px 15px rgba(250, 98, 98, 0.4);
	border-radius: 5px;
	padding: 15px 30px;
	margin-right: 30px;
	
	-webkit-transition: all 0.2s ease;/* Safari 3.2+, Chrome */
	-moz-transition: all 0.2s ease;/* Firefox 4-15 */
	-o-transition: all 0.2s ease;/* Opera 10.5-12.00 */
	transition: all 0.2s ease;/* Firefox 16+, Opera 12.50+ */
}

.navbar .menu-item.contact a:hover {
	background: #CC5050;
}

.navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,101,154,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {
	border: none;
}

.navbar .login a {
	text-decoration: underline !important;
}



/* Hero Header */



.hero {
	padding: 150px 0;
	color: #ffffff;	
}

.hero h1 {
	margin: 0;
}



/* Banner */



.banner {
	padding: 25px;
}

.banner-inner {
	background: #00659A;
	color: #ffffff;
	position: relative;
	padding: 130px 0;
}

.banner-inner h2 {
	font-size: 32px;
	opacity: 0.83;
}

.banner-inner img {
	position: absolute;
	left: 0;
	top: -95px;
	max-width: 50%;
}



/* Services */



.service-preview {
	margin: 25px;
	padding: 100px 0;
}

.service-preview h2.fancy {
	font-size: 54px;
	max-width: 100%;
}

.service-preview.blue {
	background: #F7F9FA;
}

.service-preview p {
	margin: 65px 0;
	margin-left: 30px;
}



/* Services Excerpt */



.services-excerpt {
	padding: 75px 0 200px;
	position: relative;
}

.services-excerpt .service-icon {
	display: block;
	margin: 0 auto 45px;
}

.services-excerpt .service-title {
	display: block;
	font-size: 18px;
	color: #00629B;
	font-weight: 700;
}

.services-excerpt .service-info {
	font-size: 15px;
}

.services-excerpt .service-link {
	font-size: 15px;
	font-weight: 700;
	text-decoration: underline;
	color: #00659A;
	margin-bottom: 45px;
	display: block;
}

.services-excerpt h2.fancy {
	margin-bottom: 35px;
}

.services-excerpt .btn-primary {
	margin-top: 30px;
	margin-bottom: 75px;
}

.bottom-img {
	position: absolute;
	bottom: -300px;
	right: 0;
	z-index: -1;
}



/* Products Excerpt */



.products-excerpt {
	background: #F7F9FA;
	margin: 25px;
	padding: 75px 0 0;
	overflow-y: hidden;
}

.products-excerpt p {
	margin: 65px 0 65px 30px;
}

.products-excerpt a {
	color: #00659A;
	font-weight: 600;
	text-decoration: underline;
}



/* CTA */



.cta {
	color: #ffffff;
	padding: 75px 0;
	background-color: #00629B;
}

.cta h2 {
	font-size: 34px;
}

.cta p {
	margin: 25px 0 45px;
}



/* page Headers */



.about-header {
	color: #ffffff;
	padding: 115px 0;
}

.about-header h1 {
	font-size: 55px;
}

.light-header {
	padding: 115px 0;
	position: relative;
	
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.light-header .col-lg-6 {
	z-index: 1;
}

.light-header h1 {
	color: #00629B;
}

.light-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 0;
	
	background: linear-gradient(90deg, #F7F9FA 35.36%, rgba(248, 250, 251, 0) 97.57%);
}




/* Company */



.company {
	background: #F7F9FA;
	padding: 50px 0;
	margin: -35px 35px 0;
}

.company h2 {
	margin-bottom: 40px;
}

.company h3 {
	font-size: 32px;
	color: #00629B;
	margin: 65px 0;
}

.company span {
	display: block;
	font-weight: 700;
	font-size: 18px;
	color: #00629B;
	margin-top: 35px;
}




/* Mission Statement */



.mission-statement {
	color: #ffffff;
	padding: 150px 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.mission-statement h3 {
	font-size: 32px;
}



/* Offers */



.offers {
	padding: 75px 0;
	font-size: 24px;
}

.offers h3 {
	color: #00629B;
}

.offers img {
	margin-right: 30px;
}



/* Operations Map */



.operations-map {
	margin: 0 35px;
	background: #F7F9FA;
}

.operations-map h2 {
	color: #00629B;
}

.operations-top {
	padding: 55px 0;
	text-align: center;
}

.operations-map img {
	width: 100%;
}



/* Values */



.values {
	background: #F7F9FA;
	margin: 0 35px;
}

.values .image {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.values .content {
	padding: 75px 15%;
}

.values h4 {
	color: #00629B;
}

.values .value {
	display: flex;
	align-items: center;
	margin: 40px 0;
}

.values .value img {
	margin-right: 45px;
}



/* Team */



.team {
	padding: 100px 0;
}

.team .member {
	margin-bottom: 25px;
}

.team .member-image {
	height: 330px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.team .member-name {
	color: #00629B;
	font-weight: 700;
	font-size: 18px;
	margin: 15px 0 5px;
}

.team .member-title {
	margin: 0;
}



/* Service Single Page */



.service-header {
	padding: 150px 0;
	color: #ffffff;
}

.service-intro {
	position: relative;
	padding: 100px 0;
}

.service-intro h4 {
	color: #00629B;
}

.service-intro .ellipse {
	position: absolute;
	left: -24px;
	bottom: -130px;
	width: 280px;
	height: 280px;
	z-index: -1;
}

.service-info-block {
	background: #F7F9FA;
	margin: 0 35px;
	padding: 100px 0;
}

.service-info-block h3 {
	color: #00629B; 
}

.service-info-block ul {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
}

.service-info-block li {
	color: #00629B;
	margin: 15px 0;
	padding: 0 5px;
	font-weight: 700;
	width: 50%;
}

.video-block {
	padding: 200px 0;
	margin: 0 35px;
	
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.service-footer {
	padding: 80px 0;
}

.service-footer img {
	width: 100%;
}

.service-footer h2 {
	margin-bottom: 60px;
}



/* Products */



.products-top {
	padding: 100px 0;
	position: relative;
	background: #F7F9FA;
}

.products-top h1 {
	color: #00629B;
}

.products-top .ellipse {
	position: absolute;
	right: -90px;
	bottom: -140px;
}

.products-bottom {
	padding: 65px 0;
}

.product {
	border-radius: 6px;
	overflow: hidden;
}

.product-image {
	height: 400px;
	
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.product-title {
	padding: 15px 40px;
	background: #e1e4e8;
	color: #00629B;
	font-weight: 700;
	font-size: 23px;
}



/* News */



.news {
	padding: 115px 0;
	background: #F7F9FA;
	position: relative;
}

.news .ellipse {
	position: absolute;
	left: -35px;
	top: 485px;
}


.news h1 {
	font-size: 66px;
	color: #00629B;
	margin-bottom: 45px;
}

.categories {
	margin-bottom: 70px;
}

.categories a {
	color: #6A798C;
	background: #E2E2E2;
	padding: 10px 35px;
	min-width: 140px;
	text-align: center;
	border-radius: 55px;
	font-weight: 600;
	display: inline-block;
	margin-right: 15px;
	margin-bottom: 15px;
	text-decoration: none !important;
	
	-webkit-transition: all 0.2s ease;/* Safari 3.2+, Chrome */
	-moz-transition: all 0.2s ease;/* Firefox 4-15 */
	-o-transition: all 0.2s ease;/* Opera 10.5-12.00 */
	transition: all 0.2s ease;/* Firefox 16+, Opera 12.50+ */
}

.categories a.active,
.categories a:hover {
	color: #ffffff;
	background: #E65B5B;
	box-shadow: 0px 5px 15px rgba(250, 98, 98, 0.4);
}

.news-img {
	height: 400px;
	display: block;
	border-radius: 6px;
	box-shadow: 0px 5px 15px rgba(164, 164, 164, 0.4);
	margin-bottom: 30px;
	
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.news-title a {
	color: #00629B;
	text-decoration: none !important;
}

.news-date {
	color: #E65B5B;
	font-size: 16px;
	margin-bottom: 45px;
	font-weight: 600;
}

.news-header {
	padding: 75px 0;
	background: #F7F9FA;
}

.news-header h1 {
	color: #00629B;
	margin: 15px 0 30px;
}

.news-header a {
	color: #6A798C;
	font-weight: 600;
	font-size: 16px;
	text-decoration: none !important;
}

.news-content {
	padding: 75px 0;
}

.category-filter-link{
	color: #6A798C;
	background: #E2E2E2;
	padding: 10px 35px;
	min-width: 140px;
	text-align: center;
	border-radius: 55px;
	font-weight: 600;
	display: inline-block;
	margin-right: 15px;
	margin-bottom: 15px;
	text-decoration: none !important;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;

	cursor: pointer;
}

.category-filter-link.active,
.category-filter-link:hover{
	color: #ffffff;
    background: #E65B5B;
    box-shadow: 0px 5px 15px rgba(250, 98, 98, 0.4);
}

.grid-item{
	/* float: left;
	position: relative !important;
    display: inline-block;
    left: initial !important;
	border: 1px solid red;
	top: 0px !important; */
}

.grid{
	/* height: auto !important; */
}



/* Contact Form */



.contact-block {
	background: linear-gradient(180deg, #00659A 0%, #2F94CF 100%);
	padding-top: 95px;
	color: #ffffff;
}

.contact-block span {
	color: #ffffff !important;
}

.contact-form {
	background: #ffffff;
	padding: 35px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	text-align: center;
}

.contact-form .gform_title {
	color: #000000;
	text-align: center;
	font-size: 26px;
	margin-bottom: 25px;
}

.contact-form ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.contact-form li {
	margin-bottom: 15px;
}

.contact-form label {
	display: none;
}

.contact-form input,
.contact-form textarea {
	font-size: 18px;
	padding: 15px 25px;
	border: 1px solid #DBDEE7;
	border-radius: 6px;
	color: #000000;
	resize: none;
	width: 100%;
	
	-webkit-transition: all 0.2s ease;/* Safari 3.2+, Chrome */
	-moz-transition: all 0.2s ease;/* Firefox 4-15 */
	-o-transition: all 0.2s ease;/* Opera 10.5-12.00 */
	transition: all 0.2s ease;/* Firefox 16+, Opera 12.50+ */
}

.contact-form textarea {
	height: 200px;
}

.contact-form .gfield_error input,
.contact-form .gfield_error textarea {
	border: 1px solid #CF4448;
}

.contact-form input:focus,
.contact-form textarea:focus {
	border: 1px solid #000000;
}

.contact-form .validation_message,
.contact-form .validation_error {
	text-align: center;
	font-size: 14px;
	color: #CF4448;
	margin: 5px 0;
}

.contact-form .gform_confirmation_message {
	color: #52AB1F;
	text-align: center;
	margin: 40px 0 350px;
}

.contact-form .gform_button {
	font-family: 'IBM Plex Sans', sans-serif;
	background: #E75B5B;
	color: #ffffff;
	font-weight: 600;
	padding: 15px 30px;
	box-shadow: 0px 5px 15px rgba(250, 98, 98, 0.4);
	border-radius: 5px;
	width: auto;
	font-size: 16px;
}



/* Locations */



.locations {
	margin: 35px;
	padding: 55px 0;
	background: #F7F9FA;
}

.locations .container {
	position: relative;
}

.locations h2 {
	color: #00629B;
}

.locations .bottom-img {
	right: -30%;
	bottom: -40%;
	z-index: 0;
	max-width: 1000px;
}

.location {
	color: #00659A;
	margin-bottom: 30px;
}



/* Footer */



footer {
	padding: 75px 0;
	font-size: 15px;
	background: #F7F9FA;
}

footer .footer-brand {
	max-width: 250px;
	display: inline-block;
}

footer .footer-title {
	font-weight: 600;
	color: #00629B;
	margin-bottom: 20px;
	display: block;
}

footer ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

footer li {
	margin-bottom: 10px;
}

footer li a {
	color: #6A798C !important;
	text-decoration: none !important;
}

.dropdown-menu{
	background: #E65B5B;
	border-radius: 0px;
	border: 0px;
	margin-left: 20px;
}

.navbar-light .menu-item a.dropdown-item{
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	/* or 153% */

	color: #FFFFFF !important;
	padding: 8px 20px !important;
}

.navbar-light .menu-item a.dropdown-item:hover{
	color: #333B69 !important;
}

.menu-item:hover .dropdown-menu{
	display: block;
}

.dropdown-toggle::after{
	display: none;
}

.navbar-nav .nav-item{
	padding: 30px 20px;
}

.navbar-nav .nav-item:not(:last-of-type):after{
	display: none;
}

.related-news-block__title{
	font-weight: bold;
	font-size: 24px;
	line-height: 31px;
	text-align: center;

	color: #00629B;
	margin-bottom: 40px;

}

.map-container{
	width: 100%;
	position: relative;
	height: 0px;
	padding-top: 40%;
}

.map-wrap{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}